html, body{
	height:100%;
}

body {
	background: url(/images/baconpriest_1024.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

.gameContainer{
	font-size:2em;
	cursor:pointer;
	color:#c9c9c9;
	text-align:center;
}

h1{
	text-align:center;
	font-size:8em;
	color:black;
}

#carousel {
  height: 450px;
  position: relative;
  overflow: hidden;
  background: #000000cc;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 0 40px;
}

#buttons {
	margin: 20px auto;
	width: 300px;
}

#buttons button {
	width: 140px;
	height: 140px;
	font-size: 48px;
	background-color: rgba(0, 0, 0, 0.5);
	border-color: rgba(0,0,0,0.5);
}