html, body{
	height:100%;
}

body {
	background: url(/images/baconpriest_1024.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

.gameContainer{
	border:2px solid black;
	border-radius:5px;
	font-size:3.5em;
	cursor:pointer;
	color:black;
	test-align:center;
}

h1{
	text-align:center;
	font-size:8em;
	color:black;
}
